<header>
  <div class="container">
    <a routerLink="/" class="logo"><img src="assets/images/logo.png"></a>
    <nav>
      <ul>
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="/about">A propos</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/acces client">Accés client</a></li>
      </ul>
    </nav>
  </div>
</header>